<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Whose bio is it anyway?</title>
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">
</head>
<body>
  <div class="content container">
    <div class="text-center">
      <h1>Whose bio is it anyway?</h1>
      <img id="profile"/>
      <h2 id="bio"><%= $friend.description %></h2>
      <input id="input" type="text" name="answer" placeholder="Search by name or handle...">
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="js/bio.js"></script>
</body>
</html>