<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Whose bio is it anyway?</title>
  <link href="css/style.css" rel="stylesheet">
</head>
<body>
  <div id="countdown"></div>
  <div class="content">
    <h1 class="title">Whose bio is it anyway?</h1>
    <h2 class="subtitle">Guess whose Twitter profile is it from the description in their bio.</h2>
    <div class="container">
      <img id="profile" src="img/placeholder.png" />
      <div class="info">
        <h2 id="name">Who Am I?</h2>
        <h2 id="username">@username</h2>
        <h2 id="bio"></h2>
      </div>
      <input id="input" class="typeahead" type="text" name="answer" placeholder="Search by name or handle...">
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="js/typeahead.bundle.js"></script>
  <script src="js/bio.js"></script>
</body>
</html>