<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Whose bio is it anyway?</title>
  <link href="../css/style.css" rel="stylesheet">
</head>
<body>
  <div class="content">
    <h1 class="title">Whose bio is it anyway?</h1>
    <h2 class="subtitle">Guess whose Twitter profile is it from the description in their bio.</h2>
    <a class="login" href='/auth/twitter'>Login with Twitter</a>
  </div>
</body>
</html>  

