/*
* Whose Bio Is It Anyway? - Style File
* http://bit.ly/1ywfhq7
*/

/* Open Sans Google Font */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700);

body {
  background-color: #f5f8fa;
  display: table-cell;
  height: 100vh;
  vertical-align: middle;
  width: 100vw;
}

.content {
  font-family: 'Open Sans';
  font-weight: 600;
}

.content h1 {
  color: #292f33;
  font-size: 32px;
  font-weight: 600;
  line-height: 38px;
  margin-bottom: 50px;
}

.content a.login {
  background: #55acee;
  border-radius: 3px;
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  padding: 15px 20px;
  text-decoration: none;
}

.content img#profile {
  background-color: #ccd6dd;
  border: 2px solid #fff;
  border-radius: 4px;
  height: 88px;
  width: 88px;
}

.content h2#bio {
  color: #292f33;
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 350px;
}

.content input#input {
  background-color: #ffffff;
  border: solid 1px #55acee;
  border-radius: 4px;
  font-size: 20px;
  font-weight: 400;
  padding: 10px 20px;
  width: 350px;
}

.content input::-webkit-input-placeholder {
  color: #ccd6dd;
}